<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.5.388" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.204" targetFramework="net40" />
  <package id="FubuJson" version="0.2.0.178" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.97" targetFramework="net40" />
  <package id="FubuMVC.Core" version="0.9.8.1252" targetFramework="net40" />
  <package id="FubuMVC.Media" version="0.9.5.214" targetFramework="net40" />
  <package id="FubuMVC.References" version="0.9.9.24" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.122" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="net40" />
</packages>